* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* start home css */
.home {
  text-align: center;
  padding-top: 275px;
  width: 100%;
  height: 100vh;
  background-image: url(./../images/drew-coffman-1872.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home p {
  margin-bottom: 30px;
  color: #ffffffeb;
  font-size: 24px;
}
.home h1 {
  font-size: 60px;
  color: #ffffffeb;
  margin-bottom: 18px;
}
.container {
  width: 85%;
  margin: auto;
}
.home button {
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
}
.home button.btn-primary {
  background-color: #8e7754;
  color: #ffffff;
  margin-right: 8px;
}
.home button.btn-secondary {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

/* start Who-we-are css */
.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.about-us {
  padding: 70px 0;
}
.about-us .about-image {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}

.about-us .about-image img {
  width: 90%;
}
.about-us .about-description {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}
.about-us .about-description h2 {
  margin-bottom: 40px;
  font-size: 32px;
}
.about-us .about-description p.p-color {
  margin-bottom: 40px;
  font-size: 17px;
  color: #686868;
}
.about-us .about-description .about-feature img {
  width: 45px;
  height: 45px;
  border: solid 1px #00000026;
  border-radius: 50%;
  margin: 0 10px 18px 0;
  display: inline-block;
  vertical-align: middle;
}
.about-us .about-description .about-feature p {
  color: #686868;
  padding-bottom: 13px;
}

/* start Our Location css */
.location {
  background-color: #efefef;
  padding: 70px 0;
}

.location .our-location {
  width: 49%;
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.location .our-location h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.location .our-location p {
  color: #686868;
  margin-bottom: 25px;
  font-size: 17px;
}

.location .location-image {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}
.location .location-image img {
  width: 95%;
}

/* start Our Baking css */

.baking {
  padding: 70px 0;
  text-align: center;
}

.baking h2 {
  color: #303030;
  font-size: 30px;
  margin-bottom: 20px;
}
.baking p.baking-desc {
  font-size: 17px;
  color: #888888;
  margin-bottom: 60px;
}
.baking .bakery-item {
  width: 33.333%;
  float: left;
  padding: 0 20px;
}
.baking .bakery-item img {
  width: 100%;
}
.baking .bakery-item h3 {
  padding: 25px 0;
  font-size: 22px;
  color: #303030;
}
.baking .bakery-item p {
  font-size: 17px;
  color: #686868;
}
.clean-fix {
  clear: both;
}

/* start Contact Information css */

.contact-info {
  padding: 100px 0;
  background-color: #efefef;
}
.contact-info .contact,
.map {
  width: 50%;
  float: left;
}
.contact-info .contact h2 {
  font-size: 32px;
  color: #303030;
  margin-bottom: 25px;
}
.contact-info .contact .information {
  margin-bottom: 25px;
}
.contact-info .contact p {
  font-size: 17px;
  color: #686868;
}
.contact-info .contact p.p-gap {
  margin-bottom: 30px;
}

.contact-info .contact .information img {
  width: 40px;
  background-color: #8e7754;
  border-radius: 50%;
  margin-right: 10px;
}
.contact-info .map iframe {
  width: 100%;
  height: 450px;
}

/* start footer css */

.footer {
  padding: 70px 0;
  background-color: #403d38;
  color: #969696;
}
.footer-floot {
  float: left;
  padding: 20px;
}
.footer img {
  width: 18px;
}
.footer .footer-arrow {
  border-bottom: 1px solid;
}
.footer .footer-arrow p,
img {
  display: inline-block;
  vertical-align: middle;
}

.footer p {
  padding: 15px;
}
.footer h3 {
  font-size: 18px;
  margin-bottom: 25px;
  color: #ffffff;
}

.footer .contact-footer {
  background-image: url(./../images/contact-details-map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* start bakery logo css */

.bakery-logo {
  background-color: #353330;
  text-align: center;
  padding: 50px;
}
.bakery-logo p {
  color: #777777;
  margin-top: 30px;
  font-size: 15px;
}
.bakery-logo .social-icon img {
  width: 40px;
  border-radius: 50%;
  background-color: #484540;
  margin: 30px 2px 0;
}
